{{extend 'layout.html'}}
{{block head}}
<script charset="utf-8" src={{=URL('static','editor/kindeditor.js')}}></script>
<script charset="utf-8" src={{=URL('static','editor/lang/zh_CN.js')}}></script>
<script>
	KindEditor.ready(function(K) {

	var options = {
		cssPath : '/css/index.css',
		filterMode : true,
		uploadJson : '/test/default/upload_json.json',
		fileManagerJson : '/test/default/file_manager_json.xml',
		allowFileManager : false
	};
	var editor = K.create('textarea[name="content"]', options); 
		
		
	});

</script>
{{end}}
{{=BEAUTIFY(response._vars)}}
